body{
    background-image: url("https://images.unsplash.com/photo-1496092607007-ca127e0b6a10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjV8fGRlc2lnbiUyMGhvdXNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
background-repeat: no-repeat;
background-size: cover;
}
img{
    width: 100%;
    height: 300px;
}
.logo{
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.header{
    width: 85%;
    margin: 25px;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}
.header ul li{
    float: right;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0 20px;
}
ul li a{
    padding: 10px 80px;
    color: rgb(7, 7, 7);
    text-decoration: none;
}
ul{
    float: right;
    color: rgb(22, 21, 21);
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(8, 7, 7);
    padding: 10px 60px;
}
h1 a{
    color: rgb(14, 13, 13);
    padding: 10px 20px 30px 40px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover{
    background-color:grey ;
    border-radius: 50px;
}
.banner{
    height: auto;
    position: relative;

}
.center{
    position: absolute;
    top: 30px;
    left: 200px;
    right: 200px;
    bottom: 30px;
    font-size: 40px;
}
h1{
    padding: 10px 20px 30px 40px;
    align-content: center;
}
ol li{
    display: inline-block;
    color: rgb(10, 10, 10);
}
ol li a{
    padding: 10px 50px;
    color: white;
    text-decoration: none;
}

a:visited{
    color: rgb(10, 10, 10);
}
input{
    color: rgb(196, 16, 16);
    float: right;
    margin-top: 10px;
}
.images{
    max-width: 1300px;
    margin: auto;
    background-color: rgb(197, 243, 229);
    overflow: auto
}
.gallery{
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
}
.gallery img{
    width: 100%;
    height: 300PX;
}
.desc{
    padding: 15px;
    text-align: center;
}
.desc a{
    text-decoration: none;
}
footer{
    background-color: grey;
}
.footer1 img{
    margin: 30px;
}
iframe{
    float: right;
    width: 100px;
    height: 50px;
    margin: 30px;
}


























